<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Публікації</title>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="/">Головна</a></li>
        <li><a href="{% url 'articleslist' %}">Публікації</a></li>
        {% if category %}
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.category }}</a></li>
        {% endfor %}

        {% endif %}
    </ul>
    <h1>Публікації</h1>
    {% if category %}
        <h2>{{ category }}</h2>
    {% endif %}
    {% for item in items %}
        <div class="articles-row">
            <a href="{{ item.get_absolute_url }}">
                <h4>{{ item.title }}</h4>
            </a>
            <h5>{{ item.pub_date|date:"j E Y"|safe|linebreaks }}</h5>
            <p>{{ item.description|safe|escape|striptags|truncatewords_html:32 }}</p>
            <div class="container-image">
                {% if item.images.all %}
                    <img class="img" src="{{ item.images.all.0.image.url }}" alt="" />
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
</body>
</html>
