{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
<h1>Публікації</h1>
  <ol class="breadcrumb">
    <li><a href="/">Головна</a></li>
    <li><a href="{% url 'articleslist' %}">Публікації</a></li>
  </ol>
<br/>
  <div>
    <h3>
      {{ item.title }}
    </h3>
    <h5>
      {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
    </h5>
  </div>
  <div>
    {{ item.description|escape|safe }}
    {% if item.images.all %}
      {% include 'fotorama.html' with images=images %}
    {% endif %}
  </div>
  <div class='clearfix'></div>
{% endspaceless %}
{% endblock %}
