<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
  <title>Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- Include Styles -->
  <link rel="stylesheet" href="{% static 'app_blog/css/bootstrap.min.css' %}">
  <link type="text/css" href="{% static 'app_blog/css/main.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Персональний блог</h1>
    {% block content %}
    {% endblock %}
  </div>
  <!-- Javascripts Section -->
  <script src="{% static 'app_blog/js/jquery.min.js' %}"></script>
  <script src="{% static 'app_blog/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>
